@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-danger: #E25858;
  --color-purple: #8284FA;
  --color-purple-dark: #5E60CE;
  --color-blue: #4EA8DE;
  --color-blue-dark: #1E6F9F;

  --color-gray-100: #F2F2F2;
  --color-gray-200: #D9D9D9;
  --color-gray-300: #808080;
  --color-gray-400: #333333;
  --color-gray-500: #262626;
  --color-gray-600: #1A1A1A;
  --color-gray-700: #0D0D0D;
}

* {
  box-sizing: border-box;
}

html, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-600);
  -webkit-font-smoothing: antialiased;
}

figure {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}